@import url(fonts/Alex_Brush.css);

html
{
  background: #1B2336 url(lace.png) repeat-x bottom;
  min-height: 100%;
  color: #FEFFCC;
  margin: 0;
  padding: 0;
}

body
{
  background: url(bunting.png) repeat-x top;
  margin: 0;
  padding: 100px 0 0;

  font-family: "Gandhi Serif";
  line-height: 1.4;
  letter-spacing: -0.02em;
}

#body2
{
  margin: 0 auto 80px;
  padding-left: 12em;
  padding-right: 1em;
  min-width: 28em;
  max-width: 44em;
  position: relative;
}

h1
{
  font-family: "Alex Brush";

  /* Override tighter tracking on Gandhi Serif: */
  letter-spacing: 0;

  font-size: 300%;
  font-weight: normal;
  margin: 0 0 0.5ex;
}

#nav
{
  position: absolute;
  left: 1em;
  width: 10em;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav a
{
  color: inherit;
  text-decoration: none;
}

#nav strong
{
  color: #FFF;
  text-shadow: 0 0 0.5ex #FFF;
}

#main
{
  background-color: #FEFFCC;
  color: #001036;
  padding: 5px;
}

/* Ugly additional <div>-s to have multiple borders around #main's content: */
#main2, #main3
{
  border-color: #001036;
  border-style: solid;
}

#main2
{
  border-width: 4px;
  padding: 1px;
}

#main3
{
  border-width: 1px;
  padding: 6px;
}
