@import url(fonts/Alex_Brush.css);

html
{
  background-color: #0B1326;
}

body
{
  font-family: "Gandhi Serif";
  font-size: 120%;
  margin: 1ex auto 12ex;
  padding: 0 1em;
  width: 33em;
  color: #369;
}

h1
{
  font-family: "Alex Brush";
  font-size: 300%;
  font-weight: normal;
  margin: 4ex 0 0.5ex;
  color: #D36;
}

a
{
  color: #396;
}

#main
{
  background-color: #FEFFD9;
  padding: 5px;
}

/* Ugly additional <div>-s to have multiple borders around #main's content: */
#main_wrap1, #main_wrap2
{
  border-color: #0B1326;
  border-style: solid;
}

#main_wrap1
{
  border-width: 4px;
  padding: 1px;
}

#main_wrap2
{
  border-width: 1px;
  padding: 6px;
}
