@import url(fonts/Alex_Brush.css);

html
{
  background-color: #1B2336;
}

body
{
  font-family: "Gandhi Serif";
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin: 1ex auto 12ex;
  padding: 0 1em;
  width: 33em;
  color: #369;
}

h1
{
  font-family: "Alex Brush";

  /* Override tighter tracking on Gandhi Serif: */
  letter-spacing: 0;

  font-size: 300%;
  font-weight: normal;
  margin: 4ex 0 0.5ex;
  color: #D36;
}

a
{
  color: #396;
}

#main
{
  color: #1B2336;
  background-color: #FEFFCC;
  padding: 5px;
}

/* Ugly additional <div>-s to have multiple borders around #main's content: */
#main_wrap1, #main_wrap2
{
  border-color: #1B2336;
  border-style: solid;
}

#main_wrap1
{
  border-width: 4px;
  padding: 1px;
}

#main_wrap2
{
  border-width: 1px;
  padding: 6px;
}
