html
{
  background-color: inherit;
  background-image: none;
  color: #001036;
}

body
{
  background-image: none;
  padding-top: 0;
}

#body2
{
  margin-bottom: 0;
}

#nav
{
  display: none;
}

#body2
{
  padding: 0;
}

h1
{
  background: url(little_bunting.png) repeat-x;
  padding-top: 85px;
}

#main
{
  background-color: inherit;
}

.section
{
  page-break-inside: avoid;
}
