html
{
  background-color: inherit;
  background-image: none;
  color: #001036;
}

body
{
  background-image: none;
  padding-top: 0;
}

#body2
{
  margin-bottom: 0;
  padding: 0;
}

#header
{
  position: inherit;
  width: inherit;
  margin: inherit;
}

#nav
{
  display: none;
}

h1
{
  font-size: 300%;
  background: url(little_bunting.png) repeat-x;
  padding-top: 65px;
  line-height: inherit;
  text-shadow: inherit;
  position: inherit;
  margin: 0;
}

h1:before
{
  content: inherit;
}

#main
{
  background-color: inherit;
}

.section
{
  page-break-inside: avoid;
}
