<!DOCTYPE html>
<meta charset=utf-8>
<title>[% IF title %][% plain_title || title %] — [% END ~%]
  Tomas &amp; Victoria’s Wedding</title>
<link rel=stylesheet href=style/main.css>
<link rel=stylesheet href=style/print.css media=print>

[% IF id %]<body id=[% id %]>[% END %]
<div id=body2>
<h1>[% IF heading %][% heading %]
  [% ELSE %]<a href=/>Tomas &amp; Victoria’s Wedding[% END %]</a></h1>

<ul id=nav>
[% page =
[
  {file => 'index', url => './', name => 'Home'},
  {file => 'service', name => 'Church Service'},
  {file => 'reception', name => 'Reception'},
  {file => 'blessing', name => 'Blessing'},
  {file => 'directions', name => 'Directions'},
  {file => 'about_us', name => 'About Us'},
  {file => 'cornwall', name => 'About Cornwall'},
  {file => 'links', name => 'Links'},
  {file => 'gifts', name => 'Gift List'},
  {file => 'prayers', name => 'Prayer Requests'},
  {file => 'photos', name => 'Photos'},
]
%]
[% FOREACH p = page %]
  <li>
  [% IF template.name == "${p.file}.md" ~%]
    <strong>[% p.name %]</strong>
  [% ELSE ~%]
    <a href=[% p.url || "${p.file}.html" %]>[% p.name %]</a>
  [% END %]
[% END %]
</ul>

<div id=main><div id=main2><div id=main3>
[%+ UNLESS heading %]<h2>[% title %]</h2>[% END %]

[% USE Markdown %]
[% content | markdown %]
</div></div></div>
</div>
