<!DOCTYPE html>
<meta charset=utf-8>
<title>Tomas &amp; Victoria’s Wedding</title>
<link rel=stylesheet href=style/main.css>

<div id=body2>
<h1>Tomas &amp; Victoria’s Wedding</h1>

<ul id=nav>
[% page =
[
  {url => './', name => 'Home'},
  {url => 'service.html', name => 'Church Service'},
  {url => 'reception.html', name => 'Reception'},
  {url => 'blessing.html', name => 'Blessing'},
  {url => 'directions.html', name => 'Directions'},
  {url => 'about_us.html', name => 'About Us'},
  {url => 'cornwall.html', name => 'About Cornwall'},
  {url => 'links.html', name => 'Links'},
  {url => 'gifts.html', name => 'Gift List'},
  {url => 'prayers.html', name => 'Prayer Requests'},
  {url => 'photos.html', name => 'Photos'},
]
%]
[% FOREACH page %]
  <li><a href=[% url %]>[% name %]</a>
[% END %]
</ul>

<div id=main><div id=main2><div id=main3>

[% USE Markdown %]
[% content | markdown %]
</div></div></div>
</div>
